    h1{
	color: red;
	font-size: 20px;
	font-family: monospace;
	}
	p{
	color: blue;
	font-size:16px;
	font-family: monospace;
	}
	ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	}
    .jornal {
	padding: 10px;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;

	-webkit-column-gap: 40px;    
	-moz-column-gap: 40px; 
	column-gap: 40px;

	-webkit-column-rule: 1px solid lightblue;     
	-moz-column-rule: 1px solid lightblue; 
	column-rule: 1px solid lightblue;

    }
	li{
	float: left;
	}
	li a {
	display:block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	}
	li a:hover{
	background-color: #4CAF50;
	}
	
    img {
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1),
0 20px 20px 0 rgba(0, 0, 0, 0.25);
	}